<div class="container-fluid" style="height: 80vh;">
    <!-- <div class="row d-flex justify-content-around mt-4">
        <div class="alert alert-info text-center titulo" role="alert">
            Buscaminas
        </div>
    </div> -->
    <button class="btnInicio" #btnIniciar (click)="mostrarConfiguracion()">Iniciar Juego</button>

    <div class="contenido" #contenido id="contenido">
           
    </div>

    <div class="row d-flex justify-content-around" #reset id="reset" style="visibility: hidden;">
        <a routerLink="/juegos" mat-flat-button color="accent" >Menú de juegos</a>
        <button mat-flat-button color="primary" (click)="resetJuego()">Volver a Jugar</button>
    </div>

    <div class="configuracion" #configuracion id="configuracion" style="visibility:hidden">
        <h1>Elegí el nivel de dificultad</h1>
        <hr>
        <div class="row d-flex justify-content-around">
            <button (click)="iniciarJuego(0)" mat-flat-button color="primary">Fácil</button>
            <button (click)="iniciarJuego(1)" mat-flat-button color="accent">Medio</button>
            <button (click)="iniciarJuego(2)" mat-flat-button color="warn">Díficil</button>
        </div>
        <div class="row d-flex justify-content-around mt-4">
            <div class="col-sm-2">
                <p class="text-center" style="font-size: x-large;">5 <i class="em em-bomb" aria-role="presentation" aria-label="BOMB"></i></p>
            </div>
            <div class="col-sm-2">
                <p class="text-center" style="font-size: x-large;">15 <i class="em em-bomb" aria-role="presentation" aria-label="BOMB"></i></p>
            </div>
            <div class="col-sm-2">
                <p class="text-center" style="font-size: x-large;">30 <i class="em em-bomb" aria-role="presentation" aria-label="BOMB"></i></p>
            </div>
        </div>
    </div>
    <div style="float: left;">
        <a style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Volver" routerLink='/juegos'>
            <img src="assets/images/previous.png" alt="flecha-voler">
        </a>
    </div> 
</div>
      