<nav class="site-header sticky-top py-1" style="background-color: black;">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="/home" >Home</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/ejercicio-uno">Ejercicio Uno</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/quien-soy">Quien Soy</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/login">Iniciar Sesi&oacute;n</a>
      <!--<a *ngIf='isLogged'  class="py-2 d-none d-md-inline-block">{{userLogged}}</a>
      <a *ngIf='isLogged' class="py-2 d-none d-md-inline-block" (click)="authUser.logout()" routerLink="/home">Cerrar Sesi&oacute;n</a>-->
    </div>
</nav>
