
  <div class="d-flex justify-content-center">
    <div class="card quien-soy mt-4">
      <img src="assets/images/mi-foto.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title text-center">Brian Pavon</h4>
        <p class="card-text text-center">Soy Brian, y en la foto estoy con mi amiga Ana.
          <i class="em em-dog" aria-role="presentation" aria-label="DOG FACE"></i>
        </p>
        <p class="card-text text-center">Además de programar me gustan los autos y las carreras
          <i class="em em-computer" aria-role="presentation" aria-label="PERSONAL COMPUTER"></i>
          <i class="em em-blue_car" aria-role="presentation" aria-label="RECREATIONAL VEHICLE"></i>
        </p> 
        <p class="card-text text-center">Elegí como juego el clásico buscaminas. Si no encontrás una mina Ganas!
          <i class="em em-bomb" aria-role="presentation" aria-label="BOMB"></i>
        </p>        
        <a routerLink="/juegos/buscaminas" class="btn btn-sm btn-outline-primary d-flex justify-content-center">Jugar al Buscaminas</a>
      </div>
    </div>
  </div>

