
  <div class="d-flex justify-content-center">
    <div class="card quien-soy">
      <img src="assets/images/mi-foto.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Brian Pavon</h5>
        <p class="card-text text-center">Soy Brian, y en la foto estoy con mi amiga Ana.
          <i class="em em-dog" aria-role="presentation" aria-label="DOG FACE"></i>
        </p>
        <p class="card-text text-center">Además de programar me gustan los autos y las carreras
          <i class="em em-computer" aria-role="presentation" aria-label="PERSONAL COMPUTER"></i>
          <i class="em em-blue_car" aria-role="presentation" aria-label="RECREATIONAL VEHICLE"></i>
        </p>        
        <a href="#" class="btn btn-sm btn-outline-primary d-flex justify-content-center">Proximamente el juego</a>
      </div>
    </div>
  </div>

